@plugin "daisyui";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 px;
  font-size: auto;
  font-style: normal;
}
:root {
  --bg-color: #ffffff; /* light background */
  --text-color: #111827; /* light text */
}

/* Dark mode override backgrounds */
.dark * {
  background-color: black !important ; /* or  */
  color: white !important;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

